/* src/App.css
   Basic CSS for the App */

   .App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav ul li a:hover {
    color: #3498db;
  }
  